.poh-method {
    font-weight: bold;
}

.poh-btn-verb {
    margin-right: 10px;
}

.poh-route {
    font-weight: bold;
    color: black;
}

.poh-verb-description {
    font-weight: bold;
}

 .poh-blockquote {
    border-left: 5px solid #008fb9;
}

.poh-cite {
    border-left: 5px solid #d74545 !important;
}

.poh-opinion{
    padding: 10px;
}

.poh-footer {
    padding: 10px;
}

.poh-destak {
    color: #d74545;
}